* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-size: 62.5%;
  scroll-behavior: smooth; /*revisar*/
}

body {
  overflow-x: hidden;
  font-family: sans-serif;
  position: relative;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*HEADER*/
header {
  background-color: #ffd213;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 20;
}
header .brand {
  width: 50%;
  display: flex;
  padding-left: 20px;
  position: relative;
  z-index: 21;
}
header .menu {
  height: 100%;
  width: 50%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10;
}

header .menu label {
  padding: 0 30px;
  cursor: pointer;
}

header .menu .menuBotton {
  display: none;
}

header .menu .navContainer {
  position: absolute;
  top: 60px;
  right: -600px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

header .menu .navContainer .menuContainer {
  height: 100vh;
  width: 50vw;
  background-color: #ffd213;
}

header .menu .navContainer .menuContainer .menuDropdown {
  height: 100vh;
  color: #000000;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem {
  font-size: 1.7rem;
  line-height: 7rem;
  padding: 0 0 0 30px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem .menuLink {
  color: #000000;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

header .menu .navContainer .menuContainer .menuDropdown .menuItem:hover {
  -webkit-box-shadow: 768px 0 8px #ffffff inset;
  box-shadow: 768px 0 8px #ffffff inset;
}

header
  .menu
  .navContainer
  .menuContainer
  .menuDropdown
  .menuItem:hover
  > .menuLink {
  color: #f4a727;
}

header .menu .menuBotton:checked ~ .navContainer {
  right: 0;
}

/*main*/
main {
  padding-top: 59.5px;
}
main p {
  margin-top: 40px;
  padding: 0 20px;
  font-size: 2rem;
  line-height: 3.5rem;
}

@media (min-width: 768px) {
  .menu label {
    display: none;
  }
  header .menu .navContainer {
    position: static;
    top: 0;
  }
  header .menu .navContainer .menuContainer .menuDropdown {
    padding-right: 15px;
    display: flex;
    justify-content: flex-end;
    height: 60px;
  }
  header .menu .navContainer .menuContainer .menuDropdown .menuItem {
    padding: 0 15px;
  }
  header .menu .navContainer .menuContainer {
    height: 60px;
    width: 100vw;
    top: 0;
    background: transparent;
  }
}
